@use 'utility' as *;

.button {
	border: none;
	display: flex;
	text-align: center;
	text-decoration: none;
	height: 7.2rem;
	cursor: pointer;

	& span {
		height: 100%;
	}

	&-text {
		width: 20.4rem;
		padding: 2.1rem 0;
		font-family: var(--font-shoulder);
		text-transform: uppercase;
		letter-spacing: 3.64px;
		color: var(--white);
		background-color: var(--black);
		transition: 0.2s;
	}

	&-img {
		width: 5.6rem;
		padding: 2.4rem;
		background-color: var(--gold);
		transition: 0.2s;
	}

	&:hover {
		.button {
			&-text {
				background-color: var(--gold);
			}

			&-img {
				background-color: var(--black);
			}
		}
	}
}
