.button {
	width: 26rem;
	display: flex;
	height: 7.2rem;
	border: none;
	background-color: var(--black);
	align-items: center;

	&__text {
		width: 20.4rem;
		font-size: 2rem;
		font-weight: bold;
		font-family: var(--font-shoulder);
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		color: var(--white);
	}

	&__arrow {
		background-color: var(--gold);
		height: 100%;
		padding: 2.4rem;
	}
}
