@use 'utility' as *;

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: var(--font-outfit);

	@include breakpoint(large) {
		font-size: 2.2rem;
	}
}

.heading-primary {
	font-size: 6rem;
	@include fontStyle;

	@include breakpoint(small) {
		font-size: 7rem;
	}
	@include breakpoint(large) {
		position: relative;
		font-size: 9rem;
	}

	& span {
		display: block;
	}
	& .modern {
		@include breakpoint(large) {
			position: relative;
			white-space: nowrap;

			&::before {
				content: attr(data-split);
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				width: 49%;
				overflow: hidden;
			}
		}
	}

	& .art-gallery {
		@include breakpoint(large) {
			position: relative;
			white-space: nowrap;

			&::before {
				content: attr(data-split);
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				width: 49%;
				overflow: hidden;
			}
		}
	}
}

.heading-secondary {
	font-size: 5rem;
	@include fontStyle;

	& span {
		display: block;
	}
}

.heading-tertiary {
	font-size: 3.6rem;
	@include fontStyle;

	& span {
		display: block;
	}
}
